apiVersion: v2
name: netbird-api-exporter
description: A Helm chart for NetBird API Exporter - Prometheus exporter for NetBird API metrics

type: application

version: 0.1.6

appVersion: "0.1.6"

home: https://github.com/matanbaruch/netbird-api-exporter
sources:
  - https://github.com/matanbaruch/netbird-api-exporter
keywords:
  - netbird
  - prometheus
  - exporter
  - monitoring
  - metrics
annotations:
  category: Monitoring
